certifi==2023.5.7
charset-normalizer==3.1.0
cloudpickle==2.2.1
contourpy==1.0.7
-e git+https://github.com/varun-tandon/CS329DFinal.git@7deaa8e5ccf3d23d2187d777c33eb390040c235b#egg=custom_envs&subdirectory=custom-envs
cycler==0.11.0
Farama-Notifications==0.0.4
filelock==3.12.0
fonttools==4.39.4
gymnasium==0.28.1
idna==3.4
jax-jumpy==1.0.0
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
sympy==1.12
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.65.0
typing_extensions==4.6.1
urllib3==2.0.2
